<footer class="footer-container">
  <div class="footer-content">
    <div class="footer-logo">
      <img src="../../assets/images/baclogocom.svg" alt="Blockchain Logo" class="footer-logo-img" />
    </div>
    <ul class="footer-nav">
      <li><a href="#services">Servicios</a></li>
      <li><a href="#aboutUs">Nosotros</a></li>
      <li><a href="#portfolio">Proyectos</a></li>
      <li><a href="#testimonios">Testimonios</a></li>
      <!-- <li><a href="#">Blogs</a></li> -->
    </ul>
  </div>
  <div class="footer-social">
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-x-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
  </div>
</footer>